<!doctype html>
<html lang="">
<head>
    <title>Test application</title>
    {{ stylesheet_tag('app_css') | safe }}
</head>
<body>
<div id="app"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
{{ javascript_tag('app_js') | safe }}
</body>
</html>